body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 50px;
  
}
h2{
  font-size: 40px;
  
}

p{
  color: dimgray;
}
.name-highlight{
  color:orange;
}
.half-width{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
 
  
}
.topbannerimg{
  width: 80%;
}

.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
section{
  height: 500px;
  padding-bottom: 60px;
  
}
  
.link-button{
 
  text-decoration:none;
  background-image: linear-gradient(50deg,salmon,red);
  color: aliceblue;
  font-weight: 700; 
  font-size:20px;
  
  border-radius: 5px;
  padding: 1px 15px;
  
  
}
.dreamareaimg{
height: 600px;
}
#dream{
  padding-top: 200px;
  padding-bottom: 200px;
}
.dream-button{
  text-decoration: none;
  color: aliceblue;
  padding: 5px 15px;
  border-radius: 5px;
  background-image: linear-gradient(50deg,salmon,red);
  font-weight: 700;
}
.dream-area{
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.orange-h3{
  color: orange;
}
.single-experience{
  box-shadow: 10px 10px 40px grey;
  border-radius: 10px;
  height: 350px;
  background-color: white;
 
}
.experience-area{
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;

}

.photographer{
  border-left: 10px solid ;
  border-image: linear-gradient(aqua ,purple);
  border-image-slice: 1;

}
.editor{
  border-left: 10px solid ;
  border-image: linear-gradient(360deg ,aqua ,purple);
  border-image-slice: 1;
}
.footer-credit{
  text-align: center;
}